
<h1>Company Coffee</h1>

<p>How would you like that cup of joe?</a></p>

<form action="/success">
    <form>
    <input type="hidden" name="user_id" value="<%=@user_id%>">
    <input type="hidden" name="drink" value="coffee">
   
    <h3> Regular or Decaf </h3>
    <input type="radio" name="reg_decaf" value="Regular" checked>Regular
    <br>
    <input type="radio" name="reg_decaf" value="Decaf">Decaf
    <br>
    <br>
    <h3> Size </h3>
    <input type="radio" name="size" value="Small" checked>Small
    <br>
    <input type="radio" name="size" value="Medium">Medium
    <br>
    <input type="radio" name="size" value="Large">Large
    <br>
    <br>
    <h3> Cream or Sugar </h3>
    <input type="radio" name="cream" value="Cream">Cream
    <input type="radio" name="sugar" value="Sugar">Sugar
    <br>
    <br>  
    <input type = "Submit" class="button" value="Submit">
</form>


<!--Just messing around -->
    <!-- <div>
        <h1>&#9749;</h1>
        <br>
        <table>
            <tr>
                <td><button><p>Regular</p>
                    <input type="submit" name="Regular"></button></td>
            <td><button><p>Decaf</p><input type="submit" name="Decaf">
        </button></td>
        </tr>
        </table>
    </div>
    <br>
    <br>
    <div>
        <Form>
        <INPUT TYPE="submit" VALUE="Clickable Button">
        </Form>
    </div>
    <br>
    <br>
    <div>
        <button>
           <input type="submit" class="button" name="Decaf">
           <input type="submit" class="button" name="Regular">
        </button>
    </div>
This is a slider -->
        <!-- 
    <br> -->