<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <title>Company Coffee</title>
  <meta name="description" content="">
    
</head>
<body>
    
    <div> 
        <h1>Company Coffee</h1>
        
        <p>We are happy to keep you caffinated!</a></p>
        
        <form action="/menu">
            Name: <br>
            <input type="text" name="user_name">
            <br>
            <br>
            Office Number: <br>
            <input type="integer" name="office_num">
            <br>
            <br>
            <input type = "Submit" value="Submit">
        </form>
    </div>
</body>
</html>
