
<h1>Company Coffee</h1>

<p>We are happy to keep you caffeinated!</a></p>

<form action="/menu">
    Name: <br>
    <input type="text" name="user_name">
    <br>
    <br>
    Office Number: <br>
    <input type="integer" name="office_num">
    <br>
    <br>
    <input type = "Submit" value="Submit">
</form>
