<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <title>Company Coffee</title>
  <meta name="description" content="">
    
</head>
<body>
    
    <div> 
        <h1>Company Coffee</h1>
        <p> This is the menu page </p>
        <p>Hi <%= @users.user_name %> , </a></p>
        
    </div>
</body>
</html>
