<div> 
    <h1>Company Coffee</h1>
    <p>Hi <%=@user.user_name%> </a></p>
    <p>What can we make for you today? </p>
    <br>
    <form method=:link action="/coffee_page">
        <input type ="hidden" name="user_id" value="<%=@user.user_id%>">
        <input type = "Submit" value="Coffee">
    </form>
    <br>
    <form method=:link action="/mocha_page">
        <input type ="hidden" name="user_id" value="<%=@user.user_id%>">
        <input type = "Submit" value="Mocha">
    </form>
</div>